Ejercicios/src/LenguajeMarcas/DTD/placasbase.dtd

<!ELEMENT placasbase (placaAsus, placaIntel)>
<!ELEMENT placaAsus (microprocesador | memoria | modelo | fabricante)*>
<!ELEMENT placaIntel (microprocesador | memoria | modelo | fabricante)*>

  <!ELEMENT microprocesador (#PCDATA)>
  <!ELEMENT memoria (#PCDATA)>
  <!ELEMENT modelo (#PCDATA)>
  <!ELEMENT fabricante (Asus | Intel)>
  <!ELEMENT Asus EMPTY>
  <!ELEMENT Intel EMPTY>